.pop-img{
    width: 250px;
    height: 180px;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.pop-name{
    margin: 0;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 20px;
    color: #F2F2F2;
}
.pop{
    display: inline-block;
    text-align: center;
    margin-left: 40px;
    border: 5px solid white;
    background-color: black;
}